@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div align="left">
            <a class="logo animated fadeInLeftBig" href="../home/index">SiteTemplate</a>
                @if(WebProjectCS.Controllers.usersController.CUser != null) {
                    <form class="right animated fadeInRightBig" method="post">
                        Welcome, <a style="margin-right: 20px;" href="../users/edit">@(WebProjectCS.Controllers.usersController.CUser.user_name)</a><input class="small button" type="submit" name="exit" value="Exit">
                    </form>
                    }
                else {
                    <div class="right animated fadeInRightBig"><a href="/users">Sign in</a> or <a href="/users/Create">sign up</a></div>}
            </div>
    </header>
    <div align="center" class="front">
        <p>Welcome to </p>
        <p></p>
        <h1 class="title">VirtusX study site template!</h1>
    </div>
</body>
</html>